<div class="wrapper">
  <div class="name">
    <h1>
      {{user.firstName}} {{user.lastName}}
    </h1>
  </div>
  <div class="tabs">
    <!-- <div [routerLink]="['/profile']" class="tabBox ">
      <a [routerLink]="['/profile']">Account</a>
    </div> -->
    <div [routerLink]="['/profile']" class="tabBox active">
      <a [routerLink]="['/profile']">Banking</a>
    </div>
    <div [routerLink]="['history']" class="tabBox">
      <a [routerLink]="['history']">History</a>
    </div>
    <!-- <div [routerLink]="['settings']"class="tabBox">
      <a [routerLink]="['settings']">Settings</a>
    </div> -->
  </div>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>
