*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: rgba(33, 206, 154, 0.637);
}
.name{
    padding: 1rem;
}

.tabs{
    display: grid;
    grid-template-columns: repeat(4, minmax(3rem,5rem));
    border-bottom: 2px solid rgb(0, 0, 0);
    height: 2rem;
}
.tabBox{
    justify-self: center;
}

.tabBox a:hover{
    color: #21CE99;
    transition: all .2s ease;

}
.tabs a{
    transition: all .2s ease;
    text-decoration: none;
    padding-bottom: .8rem;
    font-size: 1.2rem;
}

.wrapper{
    background: #222222;
}

.active{
    border-bottom: 2px solid #21CE99;;
}

/* @keyframes UnderLine {
	0% {
		-webkit-transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(100%);
	}
} */