<div class="wrapper">
  <article>
    <div class="accountSection">
<!-- Account Section -->
    <div>
      <div class="transactionHeader">
        <h2>Linked Accounts</h2>
      </div>
      <div class="linkedAccounts">
        <div *ngIf="user.bankAccounts.length==0" class="noAcc">
          <h3>
            Link a bank account using the button below or click here.
          </h3>
        </div>
        <div *ngFor="let i of user.bankAccounts" class="linkedAccountBox">

          <img src="../../../assets/img/banks/credit-card.png" alt="{{i}}">
          <h3>{{i}}</h3>

          <!-- Remove prompt popup -->
          <div class="removeBg">
            <div class="removePop">
              <div><h3>Do you really wish to remove {{bankToRemoveName.nickName}}?</h3></div>
              <div class="removePrompt">
                <div class="promtButton yesRemoveButton" (click)="bankAcctRmovePmtYes()"><h3>Yes</h3></div>
                <div id="promptNo" class="promtButton noButton" (click)="bankAcctRmovePmtNo()"><h3>No</h3></div>
              </div>
            </div>
          </div>
          <!-- Remove prompt popup END-->
          <img (click)="bankToRemove(i)" src="../../../assets/img/x.png" id="removeBank" alt="Remove Account">
        </div>
      </div>

      <div class="addAccounts">

        <h2 id="popUp">Add New Account</h2>

        <!-- PopUp -->
        <div class="bg">
          <!-- Payment Form  -->
          <div class="paymentForm">
            <form (submit)="addAccount()">

              <!-- header -->
              <div class="formHeader">
                
                <h3 class="loading">
                  For convenience Information is already filled out, click to review and submit
                </h3>
                <div class="formClose">
                  <img src="../../../assets/img/x.png" alt="close">
                </div>
              </div>
              <!-- header end -->

              <!-- body -->
              <div class="formBody">
                <!-- LEFT form -->
                <div class="formLeft">
                  <div class="box">
                    <h4>
                      Full Name
                    </h4>
                    <input type="text" (click)="invalid()" name="newAccount.fullName" [(ngModel)]="newAccount.fullName" value="John M. Doe" placeholder="John M. Doe (Required)">
                  </div>
                  
                  <div class="box">
                    <h4>
                      Email
                    </h4>
                    <input type="email" (click)="invalid()" name="newAccount.email" [(ngModel)]="newAccount.email" value="john@example.com" placeholder="john@example.com ">
                  </div>

                  <div class="box">
                    <h4>
                      Address
                    </h4>
                    <input type="text" (click)="invalid()" name="newAccount.address" [(ngModel)]="newAccount.address" value="542 W. 15th Street" placeholder="542 W. 15th Street (Required)">
                  </div>
                  
                  <div class="box">
                    <h4>
                      City
                    </h4>
                    <input type="text" (click)="invalid()" name="newAccount.city" [(ngModel)]="newAccount.city" value="New York" placeholder="New York (Required)">
                  </div>

                  <div class="smallBoxes">
                    <div class="box noshow">
                      <h4>
                        State
                      </h4>
                      <input type="text" (click)="invalid()" name="newAccount.state" [(ngModel)]="newAccount.state" value="NY" placeholder="NY (Required)">
                    </div>

                    <div class="box noshow">
                      <h4>
                        Zip
                      </h4>
                      <input type="text" (click)="invalid()" name="newAccount.zip" [(ngModel)]="newAccount.zip" value="10001" placeholder="10001 (Required)">
                    </div>
                  </div>

                </div>
                <!-- EMD of LEFT from -->


                <!-- RIGHT form -->
                <div class="formRight">
                  <div class="box noshow">
                    <h4>
                      Accepted Cards
                    </h4>
                    <div class="img">
                      <img src="../../../assets/img/banks/amex.png" alt="American Express">
                      <img src="../../../assets/img/banks/visa.png" alt="Visa">
                      <img src="../../../assets/img/banks/discover.png" alt="Discover">
                      <img src="../../../assets/img/banks/mastercard.png" alt="Master Card">
                    </div>
                  </div>

                  <div class="box noshow">
                      <h4>
                        Name on Card
                      </h4>
                      <input type="text" (click)="invalid()" name="newAccount.cardName" [(ngModel)]="newAccount.cardName" value="John More Doe" placeholder="John More Doe (Required)">
                    </div>
                    
                    <div class="box">
                      <h4>
                          Credit card number
                      </h4>
                      <input type="text" (click)="invalid()" name="newAccount.creditCard" [(ngModel)]="newAccount.creditCard" value="1111-2222-3333-4444" placeholder="1111-2222-3333-4444 (Required)">
                    </div>

                    <div class="box">
                      <h4>
                        Account Name (Nickname)
                      </h4>
                      <input type="text" (click)="invalid()" name="newAccount.nickName" [(ngModel)]="newAccount.nickName" value="Chase Freedom" placeholder="Chase Freedom (Required)">
                    </div>
                    
                    <!-- Small boxes -->
                    <div class="smallBoxes noshow">
                      <div class="box ">
                        <h4>
                          Exp date
                        </h4>
                        <div class="expDate">
                          <select name='expireMM'>
                              <option value='01'>Jan</option>
                              <option value='02'>Feb</option>
                              <option value='03'>Mar</option>
                              <option value='04'>Apr</option>
                              <option value='05'>May</option>
                              <option value='06'>Jun</option>
                              <option value='07'>Jul</option>
                              <option value='08'>Aug</option>
                              <option value='09'>Sep</option>
                              <option value='10'>Oct</option>
                              <option value='11'>Nov</option>
                              <option value='12'>Dec</option>
                          </select> 
                          <select name='expireYY'>
                              <option value='10'>19</option>
                              <option value='11'>20</option>
                              <option value='12'>21</option>
                              <option value='12'>22</option>
                              <option value='12'>23</option>
                              <option value='12'>24</option>
                              <option value='12'>25</option>
                              <option value='12'>26</option>
                          </select> 
                        </div>
                      </div>

                      <div class="box">
                        <h4>
                          CVV
                        </h4>
                        <input type="text" (click)="invalid()" name="newAccount.cvv" [(ngModel)]="newAccount.cvv" value="123" placeholder="123 (Required)">
                      </div>
                    </div>
                </div>
              </div>
              <!-- EMD of Right form -->
              
              <!-- body end -->
              <div *ngIf="valid" class="submitForm">
                <button> Add Payment Method </button>
              </div>
            </form>
              <div *ngIf="!valid" class="reviewFrom">
                <button (click)=reviewPaymentMethod()> Review Requirement </button>
              </div>
              <h5 *ngIf="message.length>0">{{message}}</h5>
            </div>
          <!-- Payment Form End  -->
        </div>
        <!-- PopUp ENd -->
      </div>  
      
    </div>
    <aside>
      <div *ngIf="user.bankAccounts.length>0" class="depositForm">
        <form (submit)="depositFunds()">
    <!-- FORM Header -->
          <div class="depositFormHeader">
            <h3>Deposit Funds</h3>
          </div>
    <!-- FORM Header END-->

    <!-- Form body -->
          <div class="depositFormBody">
            <div class="depositFormLabelTxt">
              <h3>From</h3>
            </div>
            <div>
              <select class="invalid" (click)="depositCancel()" name="deposit.cardName" [(ngModel)]="deposit.cardName">
                <option *ngFor="let a of user.bankAccounts">{{a}}</option>
              </select>
            </div>
            <div class="depositFormLabelTxt">
              <h3>Amount (Dollars)</h3>
            </div>
            <div>
              <input class="invalid" (click)="depositCancel()" min="0.01" step="0.01" type="number" pattern="^\d*(\.\d{0,2})?$" name="deposit.amount" [(ngModel)]="deposit.amount" placeholder="0.00$">
            </div>
          </div>
    <!-- Deposit form body END-->

    <!-- Deposit footer -->
          <div class="successMessageBox">
            <h3 class="successMessage" *ngIf="successMessage.length>0">{{successMessage}}</h3>
          </div>
          <div class="depositReviewNote">
            <p *ngIf="depositValid">The funds will be deducted from your bank account within the next several days. Press Deposit if <span>{{deposit.amount | currency}}</span>  is the correct amount to deposit</p>
            <h3 *ngIf="!depositValid"> {{depositMessage}}</h3>
          </div>

          <div class="depositButton">
            <button id="deposit" *ngIf="depositValid"> Deposit</button>
          </div>
        </form>
          <div class="depositCancelButton">
            <button id="depositReviewCloseButton" (click)=depositCancel() *ngIf="depositValid"> Cancel </button>
          </div>

          <div class="depositButton" id="depositReviewButton" *ngIf="!depositValid">
            <button (click)=depositReview()> Review Deposit</button>
          </div>
    <!-- Deposit footer End-->

      </div>
      <div *ngIf="user.bankAccounts.length==0" class="noAcc noAccPhone">
        <h3>Add a new account to deposit funds.</h3>
      </div>
    </aside>

<!-- Account Section END-->
    </div>
    <div>
      <div class="transactionHeader">
        <h2>Completed Desposit Requests</h2>
      </div>
      <div class="transactionHistory">
        
        <div *ngFor="let t of transactions" class="eachTransaction">
          <div class="transactionAccNameDate">
            <div>
              <h3>
                {{t.account}} 
              </h3>
            </div>
            <div>
              <h5>
                {{t.createdAt | date}}
              </h5>
            </div>
          </div>
          <div class="transactionAmount">
            <h3>
              +{{t.transferAmount | currency}}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </article>

  
</div>