
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Cuprum|Gloria+Hallelujah&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* -webkit-transition: .25s ease-in-out; 
    -moz-transition: .25s ease-in-out; 
    -o-transition: .25s ease-in-out; 
    transition: .25s ease-in-out;  */
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-family: 'Cuprum', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
select{
    font-size: 1rem;
}
a:active, a:focus,input:focus,select:focus {
    outline: 0;
    -moz-outline-style: none;
    box-shadow: 0 0 10px #21CE99;
}
button:focus{
    outline: 0;
    -moz-outline-style: none;
}
input{
    color: #21CE99;
    font-size: 1.08rem;
    border-radius: .5rem;
}
button{
    font-size: 1.11rem;
}
.noButton{
    border:2px solid rgba(33, 206, 154, 0.774);
    color: rgba(33, 206, 154, 0.774);
    width: 100%;
    font-size: 1rem;
    border-radius: .38rem;
    cursor: pointer;
}
.noButton:hover{
    border:2px solid #21CE99;
    color: #21CE99;
}
.yesButton{
    background: rgba(33, 206, 154, 0.774);
    color: black;
    width: 100%;
    font-size: 1rem;
    border-radius: .38rem;
    cursor: pointer;
}
.yesButton:hover{
    background: #21CE99;
}
.yesRemoveButton{
    background: #e0050593;
    color: black;
    width: 100%;
    font-size: 1rem;
    border-radius: .38rem;
    cursor: pointer;
}
.yesRemoveButton:hover{
    background: #e00505;
}
.wrapper{
    position: relative;
}

article{
    display: grid;
    grid-area: article;
    padding: 2rem;
    grid-gap: 2rem;
    grid-template-areas: 
        'accountSection';
    height: calc(100vh - 13.3125rem);
    overflow: hidden;
    overflow-y: scroll;
}

.accountSection{
    display: grid;
    grid-area: accountSection;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 1rem;
    height: 270px;
}
.text{
    padding: 0 1rem 1rem 1rem;
    border-bottom: #000000 2px solid;
}
.linkedAccounts{
    padding: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    height: 10.5rem;
}
.linkedAccountBox{
    display: grid;
    grid-template-columns: .8fr 6fr .7fr;
    grid-gap: 1rem;
    align-items: center;
    border-bottom: solid #000000 1px;
}
.removeBg{
    display: none;
    animation-name: scaleUp;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.571);
    transform: scale(1);
    animation-name: scaleUp;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
    animation-duration: .15s;
    z-index: 2;
}
.removePop{
    display: grid;
    position:fixed;
    top: 40vh;
    left: 40vw;
    width: 25vw;
    text-align: center;
    background: #222222;
    padding: 2.5rem;
    grid-row-gap: 1rem;
    transform: scale(1);
    animation-name: scaleUp;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
    animation-duration: .15s;
    z-index: 3;
    border-radius: .5rem;
}
.removePrompt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 1rem;
    margin-top: 2.5rem;
}
.promtButton{
    /* background: red; */
    display: grid;
    align-items: center;
    text-align: center;
    height: 2.8rem;
    cursor: pointer;
}
#removeBank{
    cursor: pointer;
}
.addAccounts{
    grid-area: addAccounts;
}
#popUp{
    cursor: pointer;
    color: rgba(33, 206, 154, 0.747);
    padding: 0 0 .5rem 0;
    text-align: center;
    margin-top: 1rem;
    transition: all .3s;
}
#popUp:hover{
    color: #21CE99;

}
.paymentForm{
    display: none;
    position:fixed;
    top: 12vh;
    left: 20vw;
    width: 60vw;
    background: #222222;
    border-radius: .5rem;
    transform: scale(1);
    animation-name: scaleUp;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
    animation-duration: .15s;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 2;
}

.formHeader{
    grid-area: formHeader;
    display: grid;
    height: 2.5rem;
    padding: .5rem;
    display: grid;
    grid-template-columns: 8fr 1fr;
}
.loading{
    animation: loading;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    opacity: 1;
    text-align: center;
    padding: 0 1rem;
}
@keyframes loading{
    50%{
        opacity: .3;
    }
}
.formClose{
    display: grid;
    justify-self: end;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.formBody{
    grid-area: formBody;
    display: grid;
    grid-template-areas:
        'formLeft formRight';
    grid-column-gap: 8rem;
    padding: 2rem;
}
.formBody input:focus,select:focus{
    border: 2px solid #21CE99!important;
    box-shadow: rgba(33, 206, 154, 0.699) 0 0 10px;
    transition: all .2s;
}
.formLeft{
    grid-area: formLeft;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}
.formLeft input{
    width: 100%;
    background: none;
    border: none;
    border: 2px solid #000000;
    padding: .5rem;
    height: 2rem;
}
.formRight{
    grid-area: formRight;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}
.formRight input{
    width: 100%;
    background: none;
    border: none;
    border: 2px solid #000000;
    padding: .5rem;
    height: 2rem;
}
.img{
    display: grid;
    width: 40%;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}
.box{
    display: grid;
    grid-template-columns: 1fr;
}
.box select{
    background: none;
    border: none;
    border: 2px solid black;
    border-radius: .5rem;
    color: #21CE99;
    -webkit-appearance: none;
    font-size: 1.08rem;
}
.box h4{
    padding-bottom: .15rem;
}
.smallBoxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}
.expDate{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}
.submitForm,.reviewFrom{
    grid-area: submitForm;
    padding: 0 2rem 2rem 2rem;
}
.submitForm button{
    text-decoration: none;
    background:#21CE99;
    border: none;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: #21CE99 0 0 10px;
}
.reviewFrom button{
    text-decoration: none;
    background:rgba(33, 206, 154, 0.589);
    border: none;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
}
.bg{
    z-index: 1;
    display: none;
    animation-name: scaleUp;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.571);

    transform: scale(1);
    animation-name: scaleUp;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
    animation-duration: .15s;
}

@keyframes scaleUp {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
.pop{
    display: initial;
}


/* TRANSACTIONS */
.transactionHistory{
    display: grid;
    grid-template-columns: 1fr;
    max-height:30rem;
    overflow: hidden;
    overflow-y: scroll;
    align-content: start;
}
.transactionHeader{
    /* height: 2.8rem; */
}
.transactionHeader h2{
    padding: .85rem;
    border-bottom: #000000 2px solid;
}
.eachTransaction{
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    transition: all .3s;
    
}
.eachTransaction:hover{
    background: #000000;
}
.transactionAmount{
    justify-self: right;
    align-self: center;
    color: #21CE99
}
/* TRANSACTIONS END */

/* ASIDE */

aside{
    display: grid;
    color: #ebebeb;
}
.successMessage{
    color: #21CE99;
    padding: 2rem 0;
    text-align: center;
}
.depositForm{
    background: #222222;
    padding: 1rem;
    /* transition: all 1s ease; */
    box-shadow: 0 0 20px 8px #000000;
}
.noAcc{
    box-shadow: none;
    display: grid;
    align-items: center;
    color: #21CE99;
}
.noAcc h3{
    text-align: center;
    line-height: 2rem;
    translate: all .3s;
}
.noAcc:hover{
    cursor: pointer;
}
.depositFormLabelTxt{
    display: grid;
    align-content: center;
}
.depositFormHeader h3{
    padding: 0 0 1rem 0;
    border-bottom: 2px solid black;
}   
.depositFormBody{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-row-gap: 1rem;
    padding: 1rem 0;
}
.depositFormBody input,select{
    border: solid 2px black;
    background: black;
    width: 100%;
    color: #ffffff;
    border-radius: .38rem;
    height: 2rem;
    padding: 0 .5rem;
}
.depositFormBody input:hover,select:hover{
    border: 2px solid #444444;
}
.depositFormBody input:focus,select:focus{
    border: 2px solid #21CE99;
}
.depositReviewNote{
    display: grid;
    line-height: 1.6rem;
    font-size: 1rem;
    justify-items: center;
    align-items: center;
    transition: all .2s ease;
    height: 0;
    /* padding: 0; */
    overflow: hidden;
}
.depositReviewNote h3{
    color: #e00505;
}
.depositOpenAnimation{
    display: grid;
    /* padding: 1rem 0 2rem 0; */
    overflow: hidden;
    height: 7.5rem;
}
.depositReviewNote p{
    text-align: justify;
}
.depositReviewNote span{
    color: #21CE99;
}
.depositButton{
    display: grid;
    align-self: end;
}
.depositButton button{
    background: rgba(33, 206, 154, 0.904);
    border: none;
    color: #000000;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: .38rem;
    cursor: pointer;
    transition: all .3s ease;
}
.depositButton button:hover{
    background: #21CE99;
}
.depositCancelButton{
    margin-top: 1rem;
}
.depositCancelButton button{
    border:2px solid rgba(33, 206, 154, 0.904);
    background: none;
    color: rgba(33, 206, 154, 0.904);
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: .38rem;
    cursor: pointer;
    transition: all .3s ease;
}
.depositCancelButton button:hover{
    color: #21CE99;
    border:2px solid rgb(33, 206, 154);
}

@media only screen and (max-width: 1250px) {
    .accountSection{
        grid-template-columns: 1.7fr 1fr;
    }
    .removePop{
        top: 40vh;
        left: 30vw;
        width: 35vw;
        padding: 2rem;
        /* height: 70vh; */
    }
}

@media only screen and (max-width: 940px) {
    .accountSection{
        grid-template-columns: 1.4fr 1fr;
    }
    .removePop{
        top: 30vh;
        width: 40vw;
        padding: 2rem;
    }
    .paymentForm{
        top: 10vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        overflow-y: scroll;
    }
    .formBody{
        grid-column-gap: 4rem;
        padding: 2rem;
    }
    
}

@media only screen and (max-width: 780px) {
    .accountSection{
        grid-template-columns: 1fr 1fr;
    }
    .removePop{
        top: 30vh;
        width: 50vw;
        padding: 2rem;
    }
}

@media only screen and (max-width:  640px) {
    .accountSection{
        grid-template-columns: 1fr;
        height: auto;
        /* justify-items: center; */
    }
    .depositForm{
        /* width: 80%; */
        /* transition: all 1s ease; */
        padding: 2rem;
        box-shadow: inset 0 0 10px #000000;
    }
    article{
        padding: .5rem;
    }
    .noshow{
        display: none
    }
    .paymentForm{
        top: 0;
        left: 0;
        height: 100vh;
        overflow: hidden;
        overflow-y: scroll;
    }
    .removePop{
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: grid;
        align-content: center;
    }
    .noAccPhone{
        display: none;
    }
    .formBody{
        grid-template-areas: 
            'formLeft'
            'formRight';
        grid-gap: 0;
    }
    .formLeft,.formRight{
        grid-gap: 1rem;
    }
}
