<body>
  <article>
<!-- PORTFOLIO -->
    <div class="portfolio">

      <!-- BAR -->
      <div>
        <div class="portfolioTxt headerTxt">
          <h1>Portfolio</h1>
        </div>
        <div class="totalValue">
          <div class="totalValueBoxes">
            <h3 >Account Total  <span><h1 *ngIf="portfolio.accountTotal>0">{{portfolio.accountTotal | currency}}</h1></span> </h3>
            <span *ngIf="portfolio.accountTotal==0" class="accountTotalLoading"><img src="../../assets/img/home/loading.png" alt="loading"></span>
          </div>
          <div class="totalValueBoxes">
            <h3>Buying Power <span><h1>{{portfolio.wallet | currency}}</h1></span> </h3>
          </div>
        </div>
        <!-- Buying Power Bar -->
        <div class="powerBar">
          <h3>Buying Power : <span class="buyingPowerPercent">{{buyingPowerPercent}}</span></h3>
          <div class="portfolioBar">
            <div class="buyingPower" [ngStyle]="{ 'width' : buyingPowerPercent }"></div>
          </div>
        </div>
        <!-- Buying Power Bar END-->
      </div>
      <!-- BAR ENd-->

      <!-- OWNED STOCKS -->
      <div>
        <div class="portfolioTxt">
            <h1>Owned Stocks</h1>
        <div *ngIf="ownedStocksWithCurrentPrice.length==0" class="noStocksOwned">
          <h3>
            You do not own any stocks. <br> Start by selecting a stock from this page.
          </h3>
        </div>  
        </div>
        <div *ngIf="ownedStocksWithCurrentPrice.length>0" class="ownedStocks">
          <div class="eachOwnedStock model">
            <h4>
              Quantity
            </h4>
            <h4>
              Total Value
            </h4>
            <h4>
              Portfolio %
            </h4>
          </div>
          <div [routerLink]= "['/stocks/', s.symbol]" *ngFor="let s of ownedStocksWithCurrentPrice" class="eachOwnedStock">
            <h3>
              <span>{{s.quantity}} X</span> {{s.symbol}}
            </h3>
            <h3>
              {{s.totalValue | currency}}
            </h3>
            <h3>
              {{s.portfolioDiversity }}%
            </h3>
          </div>
        </div>
      </div>
      <!-- OWNED STOCKS END-->


      <!-- COllECTION -->
      <div>
        <div class="portfolioTxt">
          <h1>
            Collections
            <span class="openDrawer" id="collectionOpenDrawer"><img src="../../assets/img/home/down-arrow.png" width="16px" alt="open drawer"> Open </span> 
            <span class="closeDrawer displayNone" id="collectionCloseDrawer"><img src="../../assets/img/home/up-arrow.png" width="16px" alt="close drawer"> Close </span>
          </h1>
        </div>
  
        <div class="collectionTags">
          <div (click)="collectionTag(t.name)" *ngFor="let t of collectionTags" class="tag">
            <h3>
              {{t.name}}
            </h3>
          </div>
        </div>
        <!-- COllECTION END -->
        
        <!-- COLLECTION TAG POP ------------------->
        <div class="popUpBg">
          <div class="tagCollectionStocksListbg">
            <div class="closeWindow">
              <img (click)="removeCollectionList()" src="../../assets/img/x.png" id="closePop" alt="Close">
            </div>
            <div class="collectionWrapper">
              <div class="collectionTag">
                <h2>{{collectionHeader}} (<span *ngIf="collectionStocks.length>1"> {{collectionStocks.length}} </span><span class="loading" *ngIf="1>collectionStocks.length"> Loading</span> )</h2>
              </div>
              <div class="collectionSearch">
                <input (change)="searchCollection()" type="text" placeholder="Search Name or Tag" name="search" [(ngModel)]="search"><h4>Press Enter to Search</h4></div>
              <div class="collectionHeader">
                <div class="collectionHeaderTxt"><h3>Name</h3></div>
                <div class="collectionHeaderTxt"><h3>Symbol</h3></div>
                <div class="price collectionHeaderTxt"><h3>Price</h3></div>
                <div class="collectionHeaderTxt"><h3>Today's change</h3></div>
                <div class="marketCap collectionHeaderTxt"><h3>Market Cap</h3></div>
              </div>
              <!-- COLLECTION LIST-->
              <div *ngIf="search.length==0" class="collectionBody">
                  <div class="searchResultErr" *ngIf="searchResultErr.length>0">
                    <h2>
                        {{searchResultErr}}
                    </h2>
                  </div>
                <div *ngFor="let s of collectionStocks" class="collectionEachStock" [routerLink]= "['/stocks/', s.symbol]">
                  <div class="stock"><h3>{{s.companyName}}</h3></div>
                  <div class="stock collectionSymbol"><h3>{{s.symbol}}</h3></div>
                  <div class="price stock"><h3>{{s.latestPrice |currency}}</h3></div> 
                  <div class="stock collectionChange" [ngStyle]="{ 'color' : greenOrRed(s.change) }">
                    <h3>{{s.change | currency}}</h3>
                    <h5>{{s.changePercent| percent :'1.2-2'}}</h5>
                    <img *ngIf="s.change>0" src="../../assets/img/home/arrowUp.png" alt="arrow up">
                    <img *ngIf="0>s.change" src="../../assets/img/home/arrowDown.png" alt="arrow down">
                  </div>
                  <div class="marketCap stock"><h3>{{s.marketCap | currency}}</h3></div>
                </div>
              </div>
              <!-- COLLECTION LIST--------END----->
              
              <!-- SEARCH RESULTS -->
              <div *ngIf="searchResult.length>0" class="collectionBody">
                <div class="searchResultErr" *ngIf="searchResultErr.length>0">
                  <h2>
                    {{searchResultErr}}
                  </h2>
                </div>
                <div *ngFor="let s of searchResult" class="collectionEachStock" [routerLink]= "['/stocks/', s.symbol]">
                  <div class="stock"><h3>{{s.companyName}}</h3></div>
                  <div class="stock collectionSymbol"><h3>{{s.symbol}}</h3></div>
                  <div class="price stock"><h3>{{s.latestPrice | currency}}</h3></div> 
                  <div class="stock collectionChange" [ngStyle]="{ 'color' : greenOrRed(s.change) }">
                    <h3>{{s.change | currency}}</h3>
                    <img *ngIf="s.change>0" src="../../assets/img/home/arrowUp.png" alt="arrow up">
                    <img *ngIf="0>s.change" src="../../assets/img/home/arrowDown.png" alt="arrow down">
                    <h5>{{s.changePercent| percent :'1.2-2'}}</h5>
                  </div>
                  <div class="marketCap stock" ><h3>{{s.marketCap | currency }}</h3></div>
                </div>
              </div>
              <!-- SEARCH RESULTS ---------END---->
            </div>
          </div>
        </div>
      </div>
      <!-- COLLECTION TAG POP  ---------------END-->


      <!-- TOP GAINERS/LOSERS -->
      <div class="wrapperGainerLosers">
        <div class="gainerContainer">
          <div class="topGainerColor portfolioTxt">
            <h1>
              Top Gainers
              <span class="openDrawer" id="gainerOpenDrawer"><img src="../../assets/img/home/down-arrow.png" width="16px" alt="open drawer"> Open </span> 
              <span class="closeDrawer displayNone" id="gainerCloseDrawer"><img src="../../assets/img/home/up-arrow.png" width="16px" alt="close drawer"> Close </span>
            </h1>
          </div>
          <!-- Gainers -->
          <div class="topGainersLosers topGainers">
            <div [routerLink]= "['/stocks/', s.symbol]" *ngFor="let s of gainersAndLosers.gainers" class="eachGainerLoserStock">
              <h4>
                {{s.companyName}}
              </h4>
              <h3 class="topGainerColor ">
                {{s.changePercent | percent :'1.2-2'}}
              </h3>
            </div>  
          </div>
        </div>


        <!-- Losers -->
        <div class="loserContainer">
          <div class="topLoserColor portfolioTxt">
              <h1>
                Top Losers
                <span class="openDrawer" id="loserOpenDrawer"><img src="../../assets/img/home/down-arrow.png" width="16px" alt="open drawer"> Open </span> 
                <span class="closeDrawer displayNone" id="loserCloseDrawer"><img src="../../assets/img/home/up-arrow.png" width="16px" alt="close drawer"> Close </span>
              </h1>
              
          </div>
          <div class="topGainersLosers topLosers">
            <div [routerLink]= "['/stocks/', s.symbol]" *ngFor="let s of gainersAndLosers.losers" class="eachGainerLoserStock">
              <div>
                <h4>
                  {{s.companyName}}
                </h4>
              </div>
              <div class="topLoserColor">
                <h3 >
                  {{s.changePercent | percent :'1.2-2'}}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TOP GAINERS/LOSERS --END-->

      

    </div>
<!-- PORTFOLIO END -->

  </article>





<!-- ASIDE -->
  <aside>
    <!-- FAVORITE STOCKS -->
    <div>
      <div class="portfolioTxt headerTxt">
          <h1>Watchlist</h1>
      </div>
      <div class="allStocks">
        
        <div class="watchListMessage" *ngIf="1>portfolio.favoriteStocks.length">
          <h3>
            Press + to add stocks into your Watchlist.
          </h3>
        </div>
        <div *ngFor="let s of portfolio.favoriteStocks" >
          
          <div [routerLink]= "['/stocks/', s.symbol]" class="eachStock eachFavoriteStock">
            <div class="eachStockSymbol">
              <h3>
                {{s.companyName}}
              </h3>
            </div>
            <div>
              <h2>
                {{s.symbol}}
              </h2>
            </div>
          </div>
            <div class="addToFavorite">
              <img src="../../assets/img/home/minus.png" alt="Remove Favorite Stock" (click)="removeFavorite(s)">
            </div>
            
          </div>
      </div>
    </div>
    <!-- FAVORITE STOCKS  END-->
    
    <!-- POPULAR STOCKS -->
    <div>

      <div class="portfolioTxt">
          <h1>Popular Stocks</h1>
      </div>
      <div class="allStocks">
        <div *ngFor="let s of popularStocksQuotes" >
          
          <div [routerLink]= "['/stocks/', s.symbol]" class="eachStock">
            <div class="eachStockSymbol">
              <h3>
                {{s.companyName}}
              </h3>
            </div>
            <div class="name">
              <h3>
                <span *ngIf="s.close==null">
                  {{s.iexRealtimePrice | currency}}
                </span>
                <span *ngIf="s.close!=null">
                  {{s.close | currency}}
                </span>
              </h3>
            </div>
          </div>
            <div class="addToFavorite">
              <img src="../../assets/img/home/plus.png" alt="Add Favorite Stock" (click)="addToFavorite(s)">
            </div>
          </div>
          <h4 class="more" *ngIf="more" (click)="arrayOfStockSymbols()">More</h4>
        </div>
        <div  class="favoriteMessage">
          <h2>
            {{favoriteMessage}}
          </h2>
        </div>

    </div>
    <!-- POPULAR STOCKS END-->

  </aside>
</body>

