@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Cuprum|Gloria+Hallelujah&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7); 
}
a:active, a:focus,input:focus,select:focus {
    outline: 0;
    -moz-outline-style: none;
}
button:focus{
    outline: 0;
    -moz-outline-style: none;
}
.underline{
    border-bottom: 2px solid #000000;
}
body{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-areas:
        'article aside'
        'article aside'
        '. aside';
    grid-column-gap: 2.5rem;
    height: calc(100vh - 7rem);
    overflow: hidden;
    overflow-y: scroll;
}
@keyframes zoom{
    0%{
        box-shadow: 0 0 10px rgb(33, 206, 154);
        background: rgb(33, 206, 154);
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        background: 0 0 10px rgba(33, 206, 154, 0);
        box-shadow: rgba(33, 206, 154, 0);

    }
}

#gainerOpenDrawer,
#loserOpenDrawer,
#collectionOpenDrawer{
    display: none;
}
.displayNone{
    display: none;
}
    
/* Article - Portfolio */

article{
    grid-area: article;
    display: grid;
    justify-items: center;
    box-sizing: border-box;
} 

.portfolio{
    display: grid;
    grid-row-gap: 4rem;
    padding: 0 .5rem;
}
.portfolioTxt h1{
    padding: .5rem;
    border-bottom: 2px solid #000000;
}
.portfolioTxt{
    width: 100%;
}
.watchListMessage{
    grid-column: 1/-1;
    text-align: center;
    color: #888888;
}
.totalValue{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.accountTotalLoading{
    display: grid;
    justify-items: center;
}
.accountTotalLoading img{
    animation: loadAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 2.3rem;
}
@keyframes loadAnim{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
.totalValueBoxes{
    padding: 1rem;
    animation: zoom;
    animation-duration: 1s;
}
.totalValueBoxes h1{
    color: #21CE99;
}
.powerBar{
    padding: 0 1rem 1rem 1rem;
}
.powerBar h3{
    padding: 0 0 .25rem 1rem;
}
.portfolioBar{
    width: 100%;
    background: #000;
    border-radius: .15rem;
}
.buyingPower{
    height:1rem;
    border-radius: .15rem;
    background: #21CE99;
    animation: buyingPowerScale;
    animation-duration: 3s;
    transition: all .5s;
    
}

@keyframes buyingPowerScale{
    from {
        transform: scaleX(0);
        box-shadow: 0 0 40px #21CE99
    }
    to {
        transform: scaleX(1);
        box-shadow: 0 0 20px rgba(33, 206, 154, 0)
    }

}
.buyingPowerPercent{
    color: #21CE99
}
.noStocksOwned{
    display: grid;
    text-align: center;
    /* justify-self: center; */
    padding: 1rem;
    color:  #777777;
}
.ownedStocks{
    width: 49.83rem;
    display: grid;
    grid-template-columns: repeat(1000,7.14rem);
    overflow: hidden;
    overflow-x: scroll;
    padding: 1rem;
    grid-column-gap: 1rem;
    justify-self: center;
}
.eachOwnedStock{
    width: 7.14rem;
    height: 7rem;
    display: grid;
    text-align: center;
    cursor: pointer;
    padding: .5rem;
    transition: all .3s;
    border-radius: .5rem;
    border: #000000 2px solid;
    align-content: center;
    grid-gap: .5rem;
    animation: zoom;
    animation-duration: 1s;
}
.eachOwnedStock:hover{
    border: #21CE99 2px solid;
    box-shadow: #21CE99 0 0 10px ;
    color: #21CE99;
}
.model{
    pointer-events: none;
    color: #616060;
}




.collectionTags{
    padding: 1rem;
    max-height: 14.3rem;
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;
}
.tag{
    border: #000000 2px solid;
    color: rgb(116, 116, 116);
    display: inline-block;
    margin: .25rem .25rem;
    border-radius: .5rem;
    transition: all .3s;
    cursor: pointer;
    padding: .25rem .5rem;
}
.tag h3{
    transition: all .3s;
}
.tag:hover h3{
    color: white;
}
.tag:hover{
    border: #21CE99 2px solid;
    box-shadow: #21CE99 0 0 10px ;
}


/* COLLECTION POP UP __________________________ */

.popUpBg{
    display: none;
    background: rgba(0, 0, 0, 0.571);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    justify-items: center;
    align-items: center
}
.pop{
    display: initial;
}
.tagCollectionStocksListbg{
    background: #222222;
    position: fixed;
    top:0;
    left: 10vw;
    width: 80vw;
    height: 100vh;
    box-shadow: 0 0 20px #000000;
}
.closeWindow{
    text-align: right;
    margin: 1rem 1rem 0 0;
}
.collectionWrapper{
    display: grid;
    grid-template-columns: minmax(56rem,.85fr);
    justify-content: center
}
#closePop{
    cursor: pointer;
}
.collectionTag{
    text-align: center;
}
.loading{
    animation: loading;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    opacity: 1;
}
@keyframes loading{
    50%{
        opacity: .1;
    }
}
.collectionSearch{
    padding-left: 1rem;
    padding-top: 1rem;
}
.collectionSearch input{
    background: none;
    padding: .5rem;
    border: 2px solid #000000;
    border-radius: .5rem;
    color: #21CE99;
    transition: all .2s;
    font-size: 1rem;
    font-family: 'Cuprum', sans-serif;
}
.collectionSearch input:focus{
    border: #21CE99 2px solid;
    box-shadow: 0 0 20px #21CE99;
}
.collectionSearch h4{
    color: #222222;
    margin-top: -.1rem;
}
.collectionHeader{
    display: grid;
    grid-template-columns: 2.2fr 1fr 1fr 1.5fr 1fr;
    border-bottom: #000000 2px solid;
}
.collectionHeaderTxt{
    padding: 1rem;
}
.collectionBody{
    overflow: hidden;
    overflow-y: scroll;
    display: grid;
    max-height: 75vh;
}
.searchResultErr{
    display:grid;
    grid-column: 1/-1;
    grid-row: 1/4;
}
.collectionEachStock{
    display: grid;
    grid-template-columns: 2.2fr 1fr 1fr 1.5fr 1fr;
    border-bottom: 1px solid #000000;
    transition: all .3s;
    cursor: pointer;
}
.collectionEachStock:hover{
    background: #000;
}
.collectionSymbol{
    color: #21CE99;
    display: grid;
    justify-items: start;
}
.collectionSymbol h3{
    cursor: pointer;
}
.collectionChange{
    display: grid;
    grid-template-columns:3fr 1fr 3fr;
    justify-content: start;
    align-content: center;
    grid-gap: .3rem;
}
.collectionChange h5{
    display: grid;
    align-self: end;
    padding-bottom: .1rem;
}
.stock{
    padding: 1rem;
}
.stock img{
    width: 1rem;
    align-self: center;
    justify-self: start;
}
/* COLLECTION POP UP _______________________ END _*/


/* TOP GAINERS AND LOSERS */
.wrapperGainerLosers{
    display: grid;
    grid-row-gap: 1.5rem;
}
.topGainersLosers{
    width: 49.83rem;
    display: grid;
    grid-template-columns: repeat(10,7.2rem);
    overflow: hidden;
    overflow-x: scroll;
    padding: 1rem;
    grid-column-gap: 1rem;
    justify-self: center;
}
.eachGainerLoserStock{
    width: 7.2rem;
    height: 7rem;
    display: grid;
    text-align: center;
    cursor: pointer;
    padding: .5rem;
    transition: all .3s;
    border-radius: .5rem;
    border: #000000 2px solid;
    grid-gap: .5rem;
    animation: zoom;
    animation-duration: 1s;
}
.eachGainerLoserStock:hover{
    border: #21CE99 2px solid;
    box-shadow: #21CE99 0 0 10px ;
}

.topGainerColor{
    color: #21CE99;
    display: grid;
    align-self: end!important;
}
.topLoserColor{
    color: #e70000;
    display: grid;
    align-self: end!important;
}
/* TOP GAINERS AND LOSERS END */






/* ASIDE  */
aside{
    display: grid;
    grid-area: aside;
    grid-row-gap: 4rem;
}

.allStocks{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 45rem;
    transition: all .3s;
}
.addFavorite{
    width: 100%;
    height: 100%;
    background: rgba(153, 152, 152, 0.445);
    border-radius: .5rem;
}
.eachStock{
    width: 10.052rem;
    height: 7rem;
    display: grid;
    text-align: center;
    cursor: pointer;
    padding: .5rem;
    transition: all .3s;
    border-radius: .5rem;
    border: #000000 2px solid;
    animation: zoom;
    animation-duration: 1s;
}
.eachStock:hover{
    border: #21CE99 2px solid;
    box-shadow: #21CE99 0 0 10px ;
}
.eachStockSymbol{
    display: grid;
    align-items: center;
}
.eachStockSymbol h3{
    cursor: pointer;
}
.name{
    color: #21CE99;
    display: grid;
    justify-items: center;
    align-items: center;
}
.eachFavoriteStock{
    animation: zoom;
    animation-duration: 1s;
}

.addToFavorite{
    display: grid;
    justify-self: end;
    justify-items: end;
    width: 0;
    height: 0;
    animation: fade;
    animation-duration: 1s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    95%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.addToFavorite img{
    width: 24px;
    opacity: .25;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all .3s;
    cursor: pointer;
    position: relative;
    top: -2rem;
    left: 8.2rem;
}
.addToFavorite img:hover{
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    animation: shake;
    animation-duration: 1s;
}
@keyframes shake{
    33%{
        transform: rotate(35deg)
    }
    66%{
        transform: rotate(-35deg)
    }
}
.more{
    grid-column: 1/-1;
    padding: .5rem;
    text-align: center;
    border-radius: .2rem;
    border: 1px solid rgba(33, 206, 154, 0.685);
    color: rgba(33, 206, 154, 0.781);
    cursor: pointer;
    animation: zoom;
    animation-duration: 1s;
}
.more:hover{
    border: 1px solid rgb(33, 206, 154);
    color: rgb(33, 206, 154);
}
.favoriteMessage{
    transition: all .3s;
    position: fixed;
    top: 50vh;
    left: 40vw;
}
.favoriteMessage h2{
    text-shadow: #e70000 0 0 10px;
}




@media only screen and (max-width: 1250px) {
    .ownedStocks,.topGainersLosers{
        width: 32.83rem;
        grid-column-gap: .8rem;
    }
    .allStocks{
        grid-gap: 1rem;
    }
    .ownedStocks{
        grid-template-columns: repeat(1000,6.14rem);
    }
    .topGainersLosers{
        grid-template-columns: repeat(10,6.14rem);
    }

    .eachOwnedStock,.eachGainerLoserStock{
        width: 6.14rem;
        height: 6rem;
    }
    .eachStock{
        width: 8rem;
        height: 7rem;
    }
    
    .addToFavorite img{
        top: -2rem;
        left: 6rem;
    }
    .tagCollectionStocksListbg{
        width: 100vw;
        left: 0;
    }
    .collectionWrapper{
        grid-template-columns: 1fr;
        justify-content: center
    }
}

@media only screen and (max-width: 940px) {
    .ownedStocks,.topGainersLosers{
        width: 25rem;
        grid-column-gap: .6rem;

    }
    .allStocks{
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
    .eachStock{
        width: 7rem;
        height: 6rem;
        
    }
    .addToFavorite img{
        left: 5rem;
    }

    .marketCap{
        display: none;
    }
    .collectionHeader, .collectionEachStock{
        grid-template-columns: 2.2fr 1fr 1fr 1.5fr;
    }
    
}

@media only screen and (max-width: 780px) {
    .ownedStocks,.topGainersLosers{
        width: 22rem;
        grid-column-gap: .5rem;
    }
    
    .collectionTags{
        padding: .5rem;
    }
    .allStocks{
        padding: .5rem;
    }
    body{
        grid-gap: .5rem;
    }
}
@media only screen and (max-width:  640px) {
    
    #gainerOpenDrawer,
    #loserOpenDrawer,
    #collectionOpenDrawer{
        display: unset;
    }
    
    aside{
        grid-gap: 1rem;
    }
    
    .eachStock{
        width: 100%;
        height: auto;
        padding: .1rem;
    }
    .addToFavorite img{
        left: 9.5rem;
        top: -2.1rem;
    }
    .allStocks{
        grid-template-columns: 1fr;
        grid-row-gap: .5rem;
        padding: .3rem 0 0 0 ;
    }
    body{
        grid-template-columns: 1fr;
        grid-template-areas:
            'article'
            'aside';
        grid-row-gap: 3rem;
    }
    .ownedStocks{
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    }
    .topGainersLosers{
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    }
    .eachOwnedStock,.eachGainerLoserStock{
        margin: .25rem 0;
    }
    .eachGainerLoserStock h4{
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
    .ownedStocks{
        height: 10.5rem;
        overflow: hidden; 
        overflow-y: scroll;
        transition: all .3s;
    }
    .topGainersLosers{
        height: 0;
        padding: 0;
        overflow: hidden; 
        overflow-y: scroll;
        transition: all .3s;
        box-shadow: inset  0 0 10px #000;

    }
    .collectionTags{
        height: 0;
        padding: 0;
        transition: all .3s;
        box-shadow: inset  0 0 10px #000;
    }
    .displayNone{
        display: none!important;
    }
    .initial{
        transition: all .3s;
        height: 10rem;
    }
    .initialGainersLosers{
        padding: .5rem;
        height: 12rem;
    }
    
    
    .allStocks{
        padding: .5rem .5rem;
    }

    .favoriteMessage{
        left: 20vw;
    }

    .addToFavorite img{
        left: .5rem;
        top: -2.1rem;
    }
    .price{
        display: none;
    }
    .collectionHeader, .collectionEachStock{
        grid-template-columns: 1.8fr 1fr 1.8fr;
    }

    .openDrawer,.closeDrawer{
        font-size: .8rem;
        color: #e0e0e0;
        float: right;
        padding: .25rem;
    }
    .openDrawer img,.closeDrawer img{
    
    }
    .portfolio{
        grid-gap: 1.2rem;
    }
}

@media only screen and (max-width:  350px) {
    .ownedStocks{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .topGainersLosers{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}
