<div class="wrapper">
  <div class="registeration">
    <form (submit)=createUser()>
      <div class="validation">
        <div *ngIf="2>newUser.firstName.length">
          <h4>
            First Name Must have 2 or more characters
          </h4>
        </div>
        <div *ngIf="2>newUser.lastName.length ">
          <h4>
            Last Name Must have 2 or more characters
          </h4>
        </div>
        <div *ngIf="6>newUser.email.length">
          <h4>
            Must Enter a valid Email
          </h4>
        </div>
        <div *ngIf="1>confirmation.length">
          <h4>
            Please Enter Password Confirmation
          </h4>
        </div>
        <div *ngIf="confirmation.length>0 && newUser.password!==confirmation">
          <h4>
            Passwords Do Not Match
          </h4>
        </div>
        <div *ngIf="message.length>0">
          <h4>
            {{message}}
          </h4>
        </div>
        <div *ngIf="error.length>0">
          <h4>
            {{error}}
          </h4>
        </div>
      </div>

      <!-- Registeration form -->
      <div class="inputBoxes">
        <div class="box">
          <div>
            <h3>First Name</h3>
          </div>
          <div class="input">
            <input type="text" name="newUser.firstName" [(ngModel)]="newUser.firstName">
          </div>
        </div>
  
        <div class="box">
          <div>
            <h3>Last Name</h3>
          </div>
          <div class="input">
            <input type="text" name="newUser.lastName" [(ngModel)]="newUser.lastName">
          </div>
        </div>
  
        <div class="box">
          <div>
            <h3>E-mail</h3>
          </div>
          <div class="input">
            <input type="email" name="newUser.email" [(ngModel)]="newUser.email">
          </div>
        </div>
  
        <div class="box">
          <div>
            <h3>Password</h3>
          </div>
          <div class="input">
            <input type="password" name="newUser.password" [(ngModel)]="newUser.password">
          </div>
        </div>
  
        <div class="box">
          <div>
            <h3>Password Confirmation</h3>
          </div>
          <div class="input">
            <input type="password" name="confirmation" [(ngModel)]="confirmation">
          </div>
        </div>
        <div class="registerButton">
          <button  type="submit">
            Register
          </button>
        </div>
        <div class="alreadyUser">Already Have an Account? <a [routerLink]="['/login']">Login Here.</a></div>
      </div>

    </form>
  </div>
  <div class="registerationArt">
    <div class="pcBanner">
      <img src="../../assets/img/login/pcBanner.png" alt="Welcone to SproutVestment">
    </div>
    <div class="longBanner">
      <img src="../../assets/img/login/longBanner.png" alt="Welcone to SproutVestment">
    </div>
    <div class="phoneBanner">
      <img src="../../assets/img/login/phoneBanner.png" alt="Welcone to SproutVestment">
    </div>
  </div>
</div>

