<div class="wrapper">
  <div class="login">
    <form (submit)="login()">
      
      <div class="validation">
        <div class="welcome">
          <h2>
            Welcome to SproutVestment
          </h2>
        </div>
        <div class="validationText" *ngIf="message.length>0">
          <h4>
            {{message}}
          </h4>
        </div>
  
        <div class="validationText" *ngIf="error.length>0">
          <h4>
            {{error}}
          </h4>
        </div>
      </div>
      <div class="inputBoxes">
        <div class="box">
          <div>
            <h3>E-mail</h3>
          </div>
          <div class="input">
            <input type="email" name="user.email" [(ngModel)]="user.email">
          </div>
        </div>

        <div class="box">
          <div>
            <h3>Password</h3>
          </div>
          <div class="input">
            <input type="password" name="user.password" [(ngModel)]="user.password">
          </div>
        </div>
      </div>
      <div class="registerButton">
        <button  type="submit">
          Login
        </button>
      </div>
      <div class="alreadyUser">Don't Have an Account? <a [routerLink]="['/registration']">Sign-up Here.</a></div>
  
    </form>
  </div>
  <div class="registerationArt">
    <div class="pcBanner">
      <img src="../../assets/img/login/pcBanner.png" alt="Welcone to SproutVestment">
    </div>
    <div class="longBanner">
        <img src="../../assets/img/login/longBanner.png" alt="Welcone to SproutVestment">
      </div>
    <div class="phoneBanner">
        <img src="../../assets/img/login/phoneBanner.png" alt="Welcone to SproutVestment">
    </div>
  </div>
</div>

