*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-gap: 2rem;
    height: 45rem;
    padding-top: 2rem;
}
input:focus{
    outline: 0;
    -moz-outline-style: none;
    border-bottom: 2px solid #21CE99;
}
input{
    background: none;
    border: none;
    border-bottom: 2px solid #000000;
    padding: .4rem;
    transition: all .3s;
    width: 15rem;
    font-size: 1.1rem;
    color: #21CE99;
    font-family: 'Cuprum', sans-serif;
}
.login{
    box-shadow: #000000 0 0 40px;
    padding: 1rem;
    display: grid;
    align-self: start;
}
.input{
    display: grid;
    justify-content: center;
}
.box{
    display: grid;
}
.inputBoxes{
    display: grid;
    grid-row-gap: 1.4rem;
    padding-top: 2rem;
}
.welcome{
    text-align: center;
    color: #21CE99;
}
.validationText{
    text-align: center;
    color: #e70000;
}
.registerButton{
    padding-top: 1rem;
}
.registerButton button{
    width: 100%;
    border: none;
    background: rgba(33, 206, 154, 0.747);
    padding: 1rem;
    color: #000000;
    font-size: 1.1rem;
    border-radius: .5rem;
    font-family: 'Cuprum', sans-serif;
    transition: all .3s;
    cursor: pointer;
}
.registerButton:hover button{
    background-color: #21CE99;
}
form{
    display: grid;
    grid-gap: 2rem;
}
.alreadyUser a{
    text-decoration: none;
    color: #21CE99;
}
.phoneBanner{
    display: none;
}
.longBanner{
    display: none;
}
.pcBanner img{
    width: 100%;
    /* box-shadow: #000000 0 0 40px; */
}

@media only screen and (max-width: 1250px) {
    .pcBanner{
        display: none;
    }
    .phoneBanner{
        display: initial;
    }
    .phoneBanner img{
        width: 88%;
    }
}

@media only screen and (max-width: 940px) {
    .phoneBanner{
        display: none;
    }
    .longBanner{
        display: initial;
    }
    .longBanner img{
        width: 100%;
    }
}

@media only screen and (max-width: 780px) {
    .longBanner img{
        width: 110%;
    }
}

@media only screen and (max-width:  640px) {
    .longBanner{
        display: none;
    }
    .phoneBanner{
        display: initial;
    }
    .login{
        width: 80%;
    }
    .wrapper{
        grid-template-columns: 1fr;
        justify-items: center;
        grid-gap: 3rem;
    }
    .phoneBanner img{
        margin-left: -.3rem;
        width:102.5%;
    }
    /* .registerationArt{
        display: none;
    } */
}

@media only screen and (max-width:  350px) {
}