@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Cuprum|Gloria+Hallelujah&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7); 
}
body{
    display: grid;
    position: relative;
    box-sizing: border-box;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: #21CE99;
}
/* Article - Stock info */
button{
    font-size: 1.11rem;
    font-family: 'Cuprum', sans-serif;
}
article{
    width: 54rem;
    display: grid;
    justify-items: center;
    height: calc(100vh - 7rem);
    overflow: hidden;
    overflow-y: scroll;
} 
.buySellInside{
    display: none;
}
.mobileReadmore{
    display: none;
}
/* Stock info - Main div */

.stockInfo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
}

.mainPrice{
    grid-area: mainPrice;
}
.quoteHeaderTxt{
    border-bottom: 2px solid #000000;
}
.quoteHeaderTxt{
    padding: .75rem;
    width: 100%;
}
.marketPrice h3{
    padding: .25rem .5rem;
}
.info{
    display: grid;
    justify-content: center;
    padding: 1rem;
    box-shadow: inset 0 0 10px #000000;
    color: #777777;
    animation: hack;
    animation-duration: .9s;
}
.infoMain{
    padding: 1rem;
}

/* Equity */
.accountBoxes{
    grid-area: accountBoxes;
    display: grid;
    grid-template-columns: .4fr .4fr;
    justify-content: center;
    grid-column-gap: 4rem;
    padding: 2rem;
}

.accountBoxesHeader{
    display: grid;
    justify-items: center;
}
.accountBoxesHeader h4{
    color: #666666
}
.l1,.l2{
    color: #666666

}
.box{
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    padding: 1rem;
    box-shadow:inset #000000 0 0 20px;
    transition: all .5s;
    animation: hack;
    animation-duration: .9s;
}
@keyframes hack{
    0%{
        transform: scale(1.1);
    }50%{
        animation: raise;
        transform: scale(1.05);
        box-shadow:none;
        border: none;
    }
    100%{
        transform: scale(1);
    }
}
.box:hover{
    animation: raise;
    animation-duration: .5s;
    transform: scale(1.1);
    box-shadow: #000000 0 0 20px;
}
@keyframes raise{
    0%{
        transform: scale(1);
    }50%{
        animation: raise;
        transform: scale(1.05);
        box-shadow:none;
        border: none;
    }100%{
        transform: scale(1.1);
    }
}

.equityLines{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        'l1 r1'
        'l2 r2';
}

.floatRight{
    justify-self: end;
}
.l1{
    grid-area: l1;
    display: grid;
    align-items: center;
}
.l2{
    grid-area: l2;
    display: grid;
    align-items: center;
}
/* .l3{
    grid-area: l3;
    display: grid;
    align-items: center;
} */
.r1{
    grid-area: r1;
    display: grid;
    align-items: center;
}
.r2{
    grid-area: r2;
    display: grid;
    align-items: center;
}
/* .r3{
    grid-area: r3;
    display: grid;
    align-items: center;
} */

.quoteHeaderTxt{
    grid-area: quoteHeaderTxt;
}
/* About  */
.about{
    grid-area: about;
    padding: 1rem;
    color: #666666;
    text-align:justify;
}


/* Info Box */
.extraInfo{
    padding: 1rem;
    grid-area: extraInfo;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}

.infoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoBox h3{
    color: #666666;
}
.earnings{
    grid-area: earnings;
    /* background: #ffffff; */
    padding: 2rem 1rem;
    display: grid;
    /* justify-items: center; */
    grid-template-columns:.8fr repeat(11,1fr);
    grid-template-areas:
        '. . hd hd hd hd hd hd hd hd hd hd'
        'chsd chsd ch ch ch ch ch ch ch ch ch ch'
        'inf inf chif chif chif chif chif chif chif chif chif chif';
}
.eachEarning{
    animation: earningBars;
    animation-duration: 2s;
    transition: all .5s;
}
.eachNegativeEarning{
    animation: earningNegBars;
    animation-duration: 2s;
    transition: all .5s;
}
.eachEarning{
    background: #21CE99;
    width: 1.3rem;
    height: 0;
    display: grid;
    align-self: end;
    border-radius: .25rem .25rem 0 0;
}

.eachNegativeEarning{
    background: #e70000;
    width: 1.3rem;
    display: grid;
    align-self:top;
    height: 0;
    border-radius:0 0 .25rem .25rem ;
}
@keyframes earningBars{
    from {
        transform: scaleY(0);
        box-shadow: 0 0 40px #21CE99
    }
    to {
        transform: scaleY(1);
        box-shadow: 0 0 20px rgba(33, 206, 154, 0)
    }

}
@keyframes earningNegBars{
    from {
        transform: scaleY(0);
        box-shadow: 0 0 40px #e70000
    }
    to {
        transform: scaleY(1);
        box-shadow: 0 0 20px #e7000000;
    }

}
.chartHeader{
    grid-area: hd;
    /* background: #f72525; */
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    justify-items: center;
}
.chart{
    grid-area: ch;
    /* background: #52c766; */
}
.chartSide{
    grid-area: chsd;
    /* background: #3373fd; */
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-items: end;
    padding-right: .3rem;
}
.zeroEPS{
    display: grid;
    align-items: center;
}
.negativeEPS{
    display: grid;
    align-items: end;
}
.fiscalPeriod{
    color: #777777;
}
.epsInfo{
    grid-area: inf;
    display: grid;
    /* background: #000; */
    align-items: center;
    padding: 1rem .5rem;
    color: #777777;
}
.chartInfo{
    grid-area: chif;
    /* background: #c414c4; */
    /* height: 10rem; */
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
.eps{
    color: #21CE99
}
.estimatedEps{
    color: rgba(33, 206, 154, 0.589)
}
.chartInfoBox{
    display: grid;
    justify-items: center;
    padding: 1rem .5rem;
    grid-gap: .3rem;
}
.earningBoxes{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    height: 8.5rem;
    justify-items: center;
    border-top: #333333 2px solid;

}
.negativeEarningBoxes{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    height: 8.5rem;
    justify-items: center;
    border-bottom: #333333 2px solid;
    border-top: #ffffff 1px solid;

}

.estimatesEpsChart{
    background: rgba(33, 206, 154, 0.397);
    width: .6rem;
    height: 0;
    display: grid;
    align-self: end;
    border-radius: .25rem .25rem 0 0;
    z-index: 2;
}

/* News */
.news{
    display: grid;
    grid-area: news;
    grid-row-gap: 3rem;
    padding: 2rem 1rem;
}

.eachNews{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: 17rem;
    box-shadow: #000000 0 0 20px;
}   

.text{
    padding:2rem;
    overflow:scroll;
    overflow-y: scroll;
    text-align: justify;
}

.text p{
    line-height: 1.2rem;
    color: #888888;
    
}
.text h6{
    color: #777777;
    padding-bottom: 1rem;
}

.img{
    height: 272px;
}
.img img{
    width: 100%;
    height: 100%;
}



/* Side box - All Stocks */

aside{
    width: 20rem;
    position: absolute;
    top: 0;
    right: 0; 
    display: grid;
    box-shadow: 0 0 20px #000000;
    padding:.5rem;
    transition: height .3s ease;
}
aside input{
    width: 100%;
    background: none;
    border: 2px solid #000000;
    border-radius: .5rem;
    padding: .5rem;
    height: 2rem;
    
    font-size: 1rem;
}
aside input:focus{
    border: #21CE99 2px solid;
    box-shadow: #21CE99 0 0 10px;
    outline: 0;
    -moz-outline-style: none;
}
aside .sell input:focus{
    border: #e70000 2px solid;
    box-shadow: #e70000 0 0 10px;
}
aside button{
    font-size: 1.11rem;
}
aside button:focus{
    outline: 0;
    -moz-outline-style: none;
}
.reviewForm button{
    background: rgba(33, 206, 154, 0.904);
    border: none;
    color: #000000;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: .38rem;
    cursor: pointer;
}
.reviewForm button:hover{
    background: #21CE99;
}
.reviewSellForm button{
    background: #e70000c9;
    border: none;
    color: #000000;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: .38rem;
    cursor: pointer;
}
.reviewSellForm button:hover{
    background: #e70000;
}

.AvailableFunds{
    text-align: center;
    padding-top: 1rem;
}
.AvailableFunds span{
    color: #21CE99;
}
.AvailableStocks{
    text-align: center;
    padding-top: 1rem;
}
.AvailableStocks span{
    color: #e70000;
}
.long input{
    color: #21CE99
}
.sell input{
    color: #e70000;
}
.buyTab,.sellTab{
    display: grid;
    align-items: center;
    cursor: pointer;
    justify-items: center;
}
.buyTab{
    border-bottom: #000000 2px solid;
    transition: all .4s;
}
.buyTab:hover{
    border-bottom: #21CE99 2px solid;
}
.buyTab h1{
    transition: all .3s;
}
.buyTab:hover h1{
    color: #21CE99;
    transition: all .3s;
}

.long{
    display: grid;
    grid-template-columns: 1fr;
}

.sellTab{
    border-bottom: #000000 2px solid;
    transition: all .4s;
}
.sellTab:hover{
    border-bottom: #e70000 2px solid;
}
.sellTab h1{
    transition: all .3s;
}
.sellTab:hover h1{
    color: #e70000;
    transition: all .3s;
}

.tabSwitch{
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.buyTab h1,.sellTab h1{
    padding: .5rem 0;
}
.buyOrSell{
    padding: 1rem;
}
.quantity{
    padding-bottom: 1rem;
    display: grid;
    grid-gap: 1.5rem;
}
.quantity h4{
    color: #888888;
    text-align: center;
}
.buySellMessage p{
    padding: 1rem 0;
    text-align: center;
}
.buyMessage{
    color: #21CE99;
}
.sellMessage{
    color: #e70000;
}
.reviewOrder{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.orderBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.orderBoxRight{
    display: grid;
    justify-content: end;
}
.reviewOrder .orderBoxLeft{
    color: #888888;
}
.buyButton button{
    background: rgba(33, 206, 154, 0.904);
    border: none;
    color: #000000;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: .38rem;
    cursor: pointer;
    transition: all .3s ease;
}
.buyButton button:hover{
    background: #21CE99;
}
.sellButton button{
    background: #e70000d7;
    border: none;
    color: #000000;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: .38rem;
    cursor: pointer;
    transition: all .3s ease;
}
.sellButton button:hover{
    background: #e70000;
}
.depositCancelButton button{
    border:2px solid rgba(33, 206, 154, 0.904);
    background: none;
    color: rgba(33, 206, 154, 0.904);
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: .38rem;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 1rem;
}
.depositCancelButton button:hover{
    color: #21CE99;
    border:2px solid rgb(33, 206, 154);
}

.sellButton button{
    background: #e7000091;
    border: none;
    color: #000000;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: .38rem;
    cursor: pointer;
    transition: all .3s ease;
}
.sellButton button:hover{
    background: #e70000;
}
.sellCancelButton button{
    border:2px solid #e7000091;
    background: none;
    color: #e7000091;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: .38rem;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 1rem;
}
.sellCancelButton button:hover{
    color: #e70000;
    border:2px solid #e70000;
}

    
@media only screen and (max-width: 1250px) {
    aside{
        width: 17.5rem;
    }
    article{
        width: 37.5rem;
    }
    .news{
        grid-row-gap: 3rem;
        padding: 2rem 1rem;
    }
    .text{
        padding:1rem
    }
    .eachNews{
        height: 14rem;
    } 
    .eachNews img{
        height: 14rem;
    } 
    .accountBoxes{
        grid-template-columns: .7fr .7fr;
    }
}

@media only screen and (max-width: 940px) {
    article{
        width: 30rem;
    }
    aside{
        width: 15.5rem;
    }
    .eachNews{
        height: 11rem;
    } 
    .eachNews img{
        height: 11rem;
    } 
    .news{
        grid-row-gap: 2rem;
        padding: 2rem .5rem;
    }
    .accountBoxes{
        grid-template-columns: .9fr .9fr;
        grid-gap: 1rem;
    }
    .box{
        pointer-events: none;
    }
    .buyOrSell{
        transition: all .3s;
    }
    .buyOrSell{
        overflow: hidden;
        transition: all .5s;
    }
    .hiddenBuyOrSell{
        height: 0;
    }
    .showBuyorSell{
        height:15.5rem;
    }

}

@media only screen and (max-width: 780px) {
    body{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'aside aside' 
            'article article';
    }
    article{
        grid-area: article;
    }
    aside{
        grid-area: aside;
        box-shadow: none;
        grid-column: 1/-1;
        width: 25rem;
        position: relative;
        justify-self: center;
        margin-bottom: 1rem;
    }
    article{
        width: 100%;
    }
    .eachNews{
        height: 13rem;
        box-shadow: 0 0 5px #000000;
    } 
    .eachNews img{
        height: 13rem;
    } 
    ::-webkit-scrollbar {
        width: 0;
    }
}
        

@media only screen and (max-width:  640px) {
    .accountBoxes{
        padding: 1rem .2rem 0 .2rem;
    }
    .buySellInside{
        display: initial;
        padding: 1rem;
    }
    .orderBoxRight input{
        width: 100%;
        background: none;
        border: 2px solid #000000;
        border-radius: .5rem;
        padding: .5rem;
        height: 2rem;
        font-size: 1rem;
    }
    .stockInfo{
        grid-gap: 1rem;
    }
    aside{
        display: none;
    }
    .buyOrSell{
        padding: 1rem 0 0 0;
    }
    .quantity{
        padding-bottom: .1rem;
        display: grid;
        grid-gap: 1.5rem;
    }
    article{
        width: 100%;
    }
    .accountBoxes{
        grid-template-columns: 1fr 1fr;
        grid-gap: .8rem;
    }
    .earnings{
        padding: 2rem .1rem;
    }
    .earningBoxes{
        height: 5rem;
    }
    .negativeEarningBoxes{
        height: 5rem;
    }
    .newsSummary{
        display: none;
    }
    .eachNews{
        height: 8rem;
        box-shadow: 0 0 5px #000000;
        grid-template-columns: 1fr 1.5fr;
    }
    .sellButton button{
        background: #e70000;
    }

    .sellCancelButton button{
        color: #e70000;
        border:2px solid #e70000;
    }
    .text{
        height: 8rem;
    }
    .mobileReadmore{
        display: initial;
    }
    .eachNews img{
        height: 8rem;
    }
    .extraInfo{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
    }
}

@media only screen and (max-width:  350px) {
}