<body>
    <article>
        <div class="stockInfo">
            <div>
                <div class="quoteHeaderTxt">
                    <h1> [ {{stock.quote.symbol}} ] {{stock.quote.companyName}}  <span *ngIf="stock.quote.close==null" [ngStyle]="{ 'color' : pageColor }">{{stock.quote.iexRealtimePrice | currency}}</span ><span *ngIf="stock.quote.close!=null" [ngStyle]="{ 'color' : pageColor }">{{stock.quote.close | currency}}</span ></h1>
                </div>
                <div class="marketPrice">
                    <h3 [ngStyle]="{ 'color' : pageColor }">{{stock.quote.change | currency}} [{{stock.quote.changePercent | percent :'1.2-2' }}]</h3>
                </div>
            
                <div class="infoMain" *ngIf="portfolio.quantity==0">
                    <div class="info">
                        <h3>
                            Purchase {{stock.quote.symbol}} Stocks to See Detailed Information
                        </h3>
                    </div>
                </div>
                <div *ngIf="portfolio.quantity>0" class="accountBoxes">
                    <div class="box">
                        <div class="accountBoxesHeader">
                            <h4>Your Equity</h4>
                            <h2 *ngIf="stock.quote.close==null">
                                {{ portfolio.quantity * stock.quote.iexRealtimePrice | currency}}
                            </h2>
                            <h2 *ngIf="stock.quote.close!=null">
                                {{ portfolio.quantity * stock.quote.close | currency}}
                            </h2>
                        </div>
                        <div class="equityLines">
                            <div class="l1">
                                <h4>Total Return</h4>
                            </div>
                            <div class="r1">
                                <td class="floatRight">
                                    <h4 *ngIf="stock.quote.close==null" >{{portfolio.quantity * stock.quote.iexRealtimePrice - portfolio.equity | currency}}</h4>
                                    <h4 *ngIf="stock.quote.close!=null">{{portfolio.quantity * stock.quote.close - portfolio.equity | currency}}</h4>
                            </div>
    
                            <div class="l2">
                                <h4>Total Cost</h4>
                            </div>
                            <div class="r2">
                                <td class="floatRight"><h4>{{portfolio.equity | currency}}</h4>
                            </div>
                        </div>
                    </div>
        
                    <div class="box">
                        <div class="accountBoxesHeader">
                            <h4>Your Average Cost</h4>
                            <h2>{{ portfolio.equity/portfolio.quantity | currency}}</h2>
                        </div>
                        <div class="equityLines">
        
                            <div class="l1">
                                <h4>Shares</h4>
                            </div>
                            <div class="r1">
                                <td class="floatRight"><h4>{{portfolio.quantity}}</h4>
                            </div>
        
                            <div class="l2">
                                <h4>Affordable Quantity</h4>
                            </div>
                            <div class="r2">
                                <td class="floatRight"><h4>{{maxAmountBuyPower}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="buySellInside">
                <div class="tabSwitch">
            <!-- Buy or Sell Tabs -->
                    <div (click)="buyView()" id="phoneBuyButton" class="buyTab">
                        <h1>
                            Buy {{stock.quote.symbol}}
                        </h1>
                    </div>

                    <div (click)="sellView()" id="phoneSellButton" class="sellTab">
                        <h1>
                            Sell {{stock.quote.symbol}}
                        </h1>
                    </div>
                </div>
                <!-- <div class="refresh">
                    <a (click)="refreshPrice()">Refresh</a>
                </div> -->
                <div class="buyOrSell hiddenBuyOrSell">
                    <!-- Refresh Button -->
                    
                    
                    <!-- Buy Section -->
                    <div *ngIf="view==0" class="buy">
                    

                        <form (submit)="buyStock()">
                            <!-- buy view -->
                            <div class="long">

                                <!-- quantity -->
                                <div *ngIf="!validBuyOrder" class="quantity">
                                    <div>
                                        <h4>
                                            Please Enter the Amount of Shares You Would Like to Purchase.
                                        </h4>
                                    </div>
                                    <div class="orderBox">
                                        <div class="orderBoxLeft">
                                            <h3>
                                                Shares
                                            </h3>
                                        </div>
                                        <div class="orderBoxRight">
                                            <input type="number" name="long.quantity" [(ngModel)]="long.quantity">
                                        </div>
                                    </div>

                                    <div class="buySellMessage buyMessage">
                                        <p *ngIf="message.length>0">{{message}}</p>
                                    </div>
                                </div>

                                <!-- after review -->
                                <div *ngIf="validBuyOrder" class="reviewOrder">

                                    <div class="orderBox">
                                        <div class="orderBoxLeft">
                                            <h3>
                                                {{stock.quote.symbol}} Price
                                            </h3>
                                        </div>
                                        <div class="orderBoxRight">
                                            <h3 *ngIf="stock.quote.close==null">
                                                {{stock.quote.iexRealtimePrice | currency}}
                                            </h3>
                                            <h3 *ngIf="stock.quote.close!=null">
                                                {{stock.quote.close | currency}}
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="orderBox">
                                        <div class="orderBoxLeft">
                                            <h3>
                                                Quantity
                                            </h3>
                                        </div>
                                        <div class="orderBoxRight">
                                            <h3>
                                                {{long.quantity}}
                                            </h3>
                                        </div>
                                    </div>
                                    
                                    <div class="orderBox">
                                        <div class="orderBoxLeft">
                                            <h3>
                                                Est. Total Cost
                                            </h3>
                                        </div>
                                        <div class="orderBoxRight">
                                            <h3 *ngIf="stock.quote.close==null">
                                                {{stock.quote.iexRealtimePrice * long.quantity | currency}}
                                            </h3>
                                            <h3 *ngIf="stock.quote.close!=null">
                                                {{stock.quote.close * long.quantity | currency}}
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="buyButton">
                                        <button type="submit">Buy</button>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                            <div class="depositCancelButton">
                                <button *ngIf="validBuyOrder" (click)="editBuy()">Edit</button>
                            </div>
                            <div class="reviewForm">
                                <button *ngIf="!validBuyOrder" (click)="reviewBuyOrder(long.quantity)">Review Buy Order</button>
                            </div>
                            <div>
                                <h3 class="AvailableFunds"><span>{{portfolio.wallet | currency}}</span> Buying Power</h3>
                            </div>
                    </div>

                    <!-- Sell Section -->
                    <div *ngIf="view==1"  class="sell">
                        
                        <form (submit)="sellStock()">
                            <!-- sell view -->
                            <div class="sell">
                                <div *ngIf="!validSellOrder" class="quantity">
                                    <div>
                                        <h4>
                                            Please Enter the Amount of Shares You Would Like to Sell.
                                        </h4>
                                    </div>
                                    <div class="orderBox">
                                        <div class="orderBoxLeft">
                                            <h3>
                                                Shares
                                            </h3>
                                        </div>
                                        <div class="orderBoxRight">
                                            <input type="number" name="sell.quantity" [(ngModel)]="sell.quantity">
                                        </div>
                                    </div>

                                    <div class="buySellMessage sellMessage">
                                        <p *ngIf="message.length>0">{{message}}</p>
                                    </div>
                                </div>


                                <!-- after review -->
                                <div *ngIf="validSellOrder" class="reviewOrder">
                                    <div class="orderBox">
                                        <div class="orderBoxLeft">
                                            <h3>
                                                {{stock.quote.symbol}} Price
                                            </h3>
                                        </div>
                                        <div class="orderBoxRight">
                                            <h3 *ngIf="stock.quote.close==null">
                                                {{stock.quote.iexRealtimePrice | currency}}
                                            </h3>
                                            <h3 *ngIf="stock.quote.close!=null">
                                                {{stock.quote.close | currency}}
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="orderBox">
                                        <div class="orderBoxLeft">
                                            <h3>
                                                Quantity
                                            </h3>
                                        </div>
                                        <div class="orderBoxRight">
                                            <h3>
                                                {{sell.quantity}}
                                            </h3>
                                        </div>
                                    </div>
                                    
                                    <div class="orderBox">
                                        <div class="orderBoxLeft">
                                            <h3>
                                                Est. Total Credit
                                            </h3>
                                        </div>
                                        <div class="orderBoxRight">
                                            <h3 *ngIf="stock.quote.close==null">
                                                {{stock.quote.iexRealtimePrice * sell.quantity | currency}}
                                            </h3>
                                            <h3 *ngIf="stock.quote.close!=null">
                                                {{stock.quote.close * sell.quantity | currency}}
                                            </h3>
                                        </div>
                                    </div>
                                    
                                    <div class="sellButton">
                                        <button type="submit">Sell</button>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                        <div class="sellCancelButton">
                            <button *ngIf="validSellOrder" (click)="editSell()">Edit</button>
                        </div>
                        <div class="reviewSellForm">
                            <button *ngIf="!validSellOrder" (click)="reviewSellOrder(sell.quantity)">Review Sell Order</button>
                        </div>
                        <div>
                            <h3 class="AvailableStocks"><span>{{portfolio.quantity}}</span> Available <span>{{stock.quote.symbol}}</span> Stocks</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="quoteHeaderTxt">
                    <h2>Earnings </h2>
                </div>
                <div class="earnings">

                    <div class="chartHeader">
                        <div *ngFor="let s of stock.earnings">
                            <h3 class="fiscalPeriod">
                                {{s.fiscalPeriod}}
                            </h3>
                        </div>
                    </div>

                    <div class="chartSide">
                        <div class="positiveEPS">
                            <h3>
                                {{stock.chartboundary | currency}}
                            </h3>
                        </div>
                        <div class="zeroEPS">
                            <h3>
                                0
                            </h3>
                        </div>
                        <div class="negativeEPS">
                            <h3>
                                -{{stock.chartboundary | currency}}
                            </h3>
                        </div>
                    </div>

                    <div class="chart">
                        <div class="earningBoxes">
                            <div class="eachEarning" *ngFor="let s of stock.chart" [ngStyle]="{ 'height' : s.positiveHeight }" >
                            </div>
                        </div>
                        <div class="negativeEarningBoxes">
                            <div class="eachNegativeEarning" *ngFor="let s of stock.chart" [ngStyle]="{ 'height' : s.negativeHeight}">
                            </div>
                        </div>
                    </div>

                    <div class="epsInfo">
                        <div>
                            <h4>
                                EPS
                            </h4>
                        </div>
                        <div>
                            <h4>
                                Estimated
                            </h4>
                        </div>
                        <div>
                            <h4>
                                Surprise
                            </h4>
                        </div>
                        <div>
                            <h4>
                                Date
                            </h4>
                        </div>
                        <div>
                            <h4>
                                Year Ago
                            </h4>
                        </div>
                        <div>
                            <h4>
                                vs. pr yr
                            </h4>
                        </div>
                    </div>
                    <div class="chartInfo">
                        <div *ngFor="let s of stock.earnings" class="chartInfoBox">
                            <div>
                                <h3 class="eps">
                                    {{s.actualEPS | currency}}
                                </h3>
                            </div>
                            <div class="estimatedEps">
                                <h3>
                                    {{s.consensusEPS | currency}}
                                </h3>
                            </div>
                            <div>
                                <h4>
                                    {{s.actualEPS - s.consensusEPS | currency}}
                                </h4>
                            </div>
                            <div>
                                <h4>
                                    {{s.EPSReportDate | date:'shortDate'}}
                                </h4>
                            </div>
                            <div>
                                <h4 >
                                    {{s.yearAgo | currency}}
                                </h4>
                            </div>
                            <div>
                                <h4>
                                    {{s.yearAgoChangePercent | percent}}
                                </h4>
                            </div>
                        </div>
                        <!-- <div *ngFor="let s of stock.earnings" class="chartInfoBox">

                        </div> -->
                    </div>

                </div>
            </div>

            <div>
                <div class="quoteHeaderTxt">
                    <h2>About </h2>
                </div>
                <div class="about">
                    <p>{{stock.about.description}}</p>
                </div>
        
                <div class="extraInfo">
                    <div class="infoBox">
                        <h3>CEO </h3>
                        <h4 [ngStyle]="{ 'color' : pageColor }">{{stock.about.CEO}}</h4>
                    </div>
                    
                    <div class="infoBox">
                        <h3>Employees </h3>
                        <h4 [ngStyle]="{ 'color' : pageColor }">{{stock.about.employees}}</h4>
                    </div>
        
                    <div class="infoBox">
                        <h3>52 Weeks High </h3>
                        <h4 [ngStyle]="{ 'color' : pageColor }">{{stock.quote.week52High | currency}}</h4>
                    </div>
        
                    <div class="infoBox">
                        <h3>52 Weeks Low </h3>
                        <h4 [ngStyle]="{ 'color' : pageColor }">{{stock.quote.week52Low | currency}}</h4>
                    </div>
        
                    <div class="infoBox">
                        <h3>Market Capital </h3>
                        <h4 [ngStyle]="{ 'color' : pageColor }">{{stock.quote.marketCap | currency}} </h4>
                    </div>
        
                    <div class="infoBox">
                        <h3>Index </h3>
                        <h4 [ngStyle]="{ 'color' : pageColor }">{{stock.about.exchange}} </h4>
                    </div> 
        
                    <div class="infoBox">
                        <h3>Volume</h3>
                        <h4 [ngStyle]="{ 'color' : pageColor }">{{stock.quote.iexVolume}} </h4>
                        <h4 *ngIf="stock.quote.open==null" >Markets Closed </h4>
                    </div> 
        
                    <div class="infoBox">
                        <h3>Latest Close </h3>
                        <h4 [ngStyle]="{ 'color' : pageColor }">{{stock.quote.previousClose | currency}} </h4>
                    </div> 
                </div>
            </div>

            <div>
                <div class="quoteHeaderTxt">
                    <h2>News </h2>
                </div>
                <div class="news">
                    <div *ngFor="let n of stock.news" class="eachNews">
                        <div class="img">
                            <img src="{{n.image}}" width="160px"alt="">
                        </div>
                        <div class="text">
                            <div>
                                <h3>{{n.headline}}</h3>
                                <h6><a href="{{n.url}}">{{n.source}}</a>  {{n.datetime | date}} </h6>
                            </div>
                            <div class="mobileReadmore">
                                <h4><a href="{{n.url}}">Read More</a></h4>
                            </div>
                            <div class="newsSummary">
                                <p>{{n.summary}}</p>
                                <h5><a href="{{n.url}}">Read More</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </article>

    <!-- buy stocks -->
    <aside>
        <div class="tabSwitch">
            <!-- Buy or Sell Tabs -->
            <div (click)="buyView()" class="buyTab">
                <h1>
                    Buy {{stock.quote.symbol}}
                </h1>
            </div>

            <div (click)="sellView()" class="sellTab">
                <h1>
                    Sell {{stock.quote.symbol}}
                </h1>
            </div>
        </div>
        <!-- <div class="refresh">
            <a (click)="refreshPrice()">Refresh</a>
        </div> -->
        <div class="buyOrSell">
            <!-- Refresh Button -->
            
            
            <!-- Buy Section -->
            <div *ngIf="view==0" class="buy">
            

                <form (submit)="buyStock()">
                    <!-- buy view -->
                    <div class="long">

                        <!-- quantity -->
                        <div *ngIf="!validBuyOrder" class="quantity">
                            <div>
                                <h4>
                                    Please Enter the Amount of Shares You Would Like to Purchase.
                                </h4>
                            </div>
                            <div class="orderBox">
                                <div class="orderBoxLeft">
                                    <h3>
                                        Shares
                                    </h3>
                                </div>
                                <div class="orderBoxRight">
                                    <input type="number" name="long.quantity" [(ngModel)]="long.quantity">
                                </div>
                            </div>

                            <div class="buySellMessage buyMessage">
                                <p *ngIf="message.length>0">{{message}}</p>
                            </div>
                        </div>

                        <!-- after review -->
                        <div *ngIf="validBuyOrder" class="reviewOrder">

                            <div class="orderBox">
                                <div class="orderBoxLeft">
                                    <h3>
                                        {{stock.quote.symbol}} Price
                                    </h3>
                                </div>
                                <div class="orderBoxRight">
                                    <h3 *ngIf="stock.quote.close==null">
                                        {{stock.quote.iexRealtimePrice | currency}}
                                    </h3>
                                    <h3 *ngIf="stock.quote.close!=null">
                                        {{stock.quote.close | currency}}
                                    </h3>
                                </div>
                            </div>

                            <div class="orderBox">
                                <div class="orderBoxLeft">
                                    <h3>
                                        Quantity
                                    </h3>
                                </div>
                                <div class="orderBoxRight">
                                    <h3>
                                        {{long.quantity}}
                                    </h3>
                                </div>
                            </div>
                            
                            <div class="orderBox">
                                <div class="orderBoxLeft">
                                    <h3>
                                        Est. Total Cost
                                    </h3>
                                </div>
                                <div class="orderBoxRight">
                                    <h3 *ngIf="stock.quote.close==null">
                                        {{stock.quote.iexRealtimePrice * long.quantity | currency}}
                                    </h3>
                                    <h3 *ngIf="stock.quote.close!=null">
                                        {{stock.quote.close * long.quantity | currency}}
                                    </h3>
                                </div>
                            </div>

                            <div class="buyButton">
                                <button type="submit">Buy</button>
                            </div>
                        </div>
                        
                    </div>
                </form>
                    <div class="depositCancelButton">
                        <button *ngIf="validBuyOrder" (click)="editBuy()">Edit</button>
                    </div>
                    <div class="reviewForm">
                        <button *ngIf="!validBuyOrder" (click)="reviewBuyOrder(long.quantity)">Review Buy Order</button>
                    </div>
                    <div>
                        <h3 class="AvailableFunds"><span>{{portfolio.wallet | currency}}</span> Buying Power</h3>
                    </div>
            </div>

            <!-- Sell Section -->
            <div *ngIf="view==1" class="sell">
                
                <form (submit)="sellStock()">
                    <!-- sell view -->
                    <div class="sell">
                        <div *ngIf="!validSellOrder" class="quantity">
                            <div>
                                <h4>
                                    Please Enter the Amount of Shares You Would Like to Sell.
                                </h4>
                            </div>
                            <div class="orderBox">
                                <div class="orderBoxLeft">
                                    <h3>
                                        Shares
                                    </h3>
                                </div>
                                <div class="orderBoxRight">
                                    <input type="number" name="sell.quantity" [(ngModel)]="sell.quantity">
                                </div>
                            </div>

                            <div class="buySellMessage sellMessage">
                                <p *ngIf="message.length>0">{{message}}</p>
                            </div>
                        </div>


                        <!-- after review -->
                        <div *ngIf="validSellOrder" class="reviewOrder">
                            <div class="orderBox">
                                <div class="orderBoxLeft">
                                    <h3>
                                         {{stock.quote.symbol}} Price
                                    </h3>
                                </div>
                                <div class="orderBoxRight">
                                    <h3 *ngIf="stock.quote.close==null">
                                        {{stock.quote.iexRealtimePrice | currency}}
                                    </h3>
                                    <h3 *ngIf="stock.quote.close!=null">
                                        {{stock.quote.close | currency}}
                                    </h3>
                                </div>
                            </div>

                            <div class="orderBox">
                                <div class="orderBoxLeft">
                                    <h3>
                                        Quantity
                                    </h3>
                                </div>
                                <div class="orderBoxRight">
                                    <h3>
                                        {{sell.quantity}}
                                    </h3>
                                </div>
                            </div>
                            
                            <div class="orderBox">
                                <div class="orderBoxLeft">
                                    <h3>
                                        Est. Total Credit
                                    </h3>
                                </div>
                                <div class="orderBoxRight">
                                    <h3 *ngIf="stock.quote.close==null">
                                        {{stock.quote.iexRealtimePrice * sell.quantity | currency}}
                                    </h3>
                                    <h3 *ngIf="stock.quote.close!=null">
                                        {{stock.quote.close * sell.quantity | currency}}
                                    </h3>
                                </div>
                            </div>
                            
                            <div class="sellButton">
                                <button type="submit">Sell</button>
                            </div>
                        </div>
                        
                    </div>
                </form>
                <div class="sellCancelButton">
                    <button *ngIf="validSellOrder" (click)="editSell()">Edit</button>
                </div>
                <div class="reviewSellForm">
                    <button *ngIf="!validSellOrder" (click)="reviewSellOrder(sell.quantity)">Review Sell Order</button>
                </div>
                <div>
                    <h3 class="AvailableStocks"><span>{{portfolio.quantity}}</span> Available <span>{{stock.quote.symbol}}</span> Stocks</h3>
                </div>
            </div>
        </div>
    </aside>
</body>

<!-- 
 -->