<body>
    <header>
        <div class="logo">
            <img [routerLink]="['/home']" src="../assets/img/plant.png" alt="Sprout Vestment" srcset="">
            <h2 [routerLink]="['/home']" class="sproutvestment">SproutVestment</h2>
        </div>
        <div class="nav">
            <div *ngIf="storage.getItem('logged')!=1" class="loginReg">
                <div>
                    <h3>
                        <a [routerLink]="['/registration']"> Sign-up </a> 
                    </h3> 
                </div>
                <div>
                    <h3>
                        <a [routerLink]="['/login']"> Login </a>
                    </h3>
                </div>
                <!-- {{storage.getItem("logged")}} -->
            </div>
            <div *ngIf="storage.getItem('logged')==1" class="loggedIn">
                <div class="home">
                    <h3>
                        <a [routerLink]="['/home']">Home</a>
                    </h3> 
                </div>
                <div>
                    <h3 class="name">
                        <a [routerLink]="['/profile']">Account</a> 
                    </h3>
                </div>
                <div>
                    <h3>
                        <a [routerLink]="['/login']" (click)="logout()">Logout</a>
                    </h3>
                </div>
            </div>
        </div>
    </header>

    <div class="wrapper">
        <router-outlet>

        </router-outlet>
    </div>

</body>
  
  
