@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Cuprum|Gloria+Hallelujah&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem auto;
    grid-template-areas:
        'header'
        'wrapper';
    background: #222222;
    grid-gap: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    color: #e0e0e0;
    font-family: 'Cuprum', sans-serif;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7); 
}
header{
    width: 100%;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
}
.sproutvestment{
    display: grid;
    align-self: end;
    margin-left: -1rem;
    cursor: pointer;
}
.logo img{
    width: 3rem;
    cursor: pointer;
}
.logo h2:focus,img:focus{
    outline: 0;
    -moz-outline-style: none;
}
.logo h2{
    transition: all 1s;
}

.logo h2:hover{
    color: #21CE99;
    animation: logoColor;
    animation-duration: .9s;
}
@keyframes logoColor{
    0%{
        text-shadow: 0 0 10px #21CE99;
    }
    100%{
        text-shadow: 0 0 70px rgba(33, 206, 154, 0);
    }
}
.nav{
    display: grid;
    justify-self: end;
    align-self: center;
}
.nav a{
    text-decoration: none;
    transition: all .4s;
    color: #e0e0e0;
}
.nav a:hover{
    color: #21CE99;
}
.loggedIn{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size:.9rem;
    align-items: end;
    justify-items: center;
    grid-gap: 1rem;
}
.loginReg{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-column-gap: .8rem;
}
.name a{
    text-decoration: underline;
}

.wrapper{
    display: grid;
    grid-area: wrapper;
    width: 76.75rem;
    /* background: rgb(111, 111, 220); */
    box-sizing: border-box;
    justify-self: center;
    align-content: start;
}

@media only screen and (max-width: 1250px) {
    .wrapper{
        width: 56.75rem;
        font-size: 14px;
    }
}

@media only screen and (max-width: 940px) {
    .wrapper{
        width: 46.75rem;
        font-size: 13.5px;
    }
}

@media only screen and (max-width: 780px) {
    .wrapper{
        width: 36.75rem;
        font-size: 13px;
    }
}

@media only screen and (max-width:  640px) {
    
    body{
        padding: .6rem;
    }
    .wrapper{
        width: 100%;
        font-size: 13px;
    }
    .sproutvestment{
        font-size: 1.2rem;
    }
    .logo {
        width: 2rem;
    }
    .nav{
        align-self: unset;
        justify-self: unset;
    }
    .loginReg,.loggedIn{
        /* width: 0; */
        display: grid;
        font-size:.9rem;
        align-items: end;
        justify-items: center;
    }
    /* .loggedIn{
        grid-template-columns: 4fr 1fr;
    } */
    .name a{
        color: #21CE99;
    }
}

@media only screen and (max-width:  350px) {
    .wrapper{
        font-size: 11px;
    }
    .name{
        padding-left: 1rem;
    }
}

/* 
@media only screen and (max-width: 1250px) {
}

@media only screen and (max-width: 940px) {
}

@media only screen and (max-width: 780px) {
}

@media only screen and (max-width:  640px) {
}

@media only screen and (max-width:  350px) {
} */