<div class="wrapper">
  <article>
    <div class="buyHistoryHeader">
      <h2>Buy History</h2>
    </div>
    <div class="sellHistoryHeader">
      <h2>Sell History</h2>
    </div>
    <div class="buyHistory">
      <div *ngFor="let b of buyHistory" class="eachTransaction">
        <div class="hbox">
          <h3>
            <a [routerLink]= "['/stocks/', b.stock]">{{b.stock}}</a>
          </h3>
        </div>
        <div class="hbox right">
          <h3>
            {{b.price * b.quantity | currency }}
          </h3>
        </div>
        <div class="hdbox">
          <h5>
            {{b.createdAt | date }}
          </h5>
        </div>
        <div class="hdbox right">
          <h5>
            {{b.quantity}} share at {{b.price | currency}}
          </h5>
        </div>
      </div>
    </div>
    
    <div class="sellHistory">
        <div *ngFor="let s of sellHistory" class="eachTransaction">
          <div class="hbox">
            <h3>
              <a [routerLink]= "['/stocks/', s.stock]">{{s.stock}}</a>
            </h3>
          </div>
          <div class="hbox right">
            <h3>
              {{s.price * s.quantity | currency }}
            </h3>
          </div>
          <div class="hdbox">
            <h5>
              {{s.createdAt | date }}
            </h5>
          </div>
          <div class="hdbox right">
            <h5>
              {{s.quantity}} share at {{s.price | currency}}
            </h5>
          </div>
        </div>
    </div>
  </article>
</div>

