*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7); 
}

a{
    color: rgba(33, 206, 154, 0.637);
}
h5{
    font-size: 13.28px;
}
.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
}

article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.8rem auto;
    column-gap: 2rem;
    padding: 2rem;
    grid-template-areas: 
        'buyHistoryHeader sellHistoryHeader'
        'buyHistory sellHistory';
    height: calc(100vh - 13.3125rem);
    overflow: hidden;
    overflow-y: scroll;
}
article a{
    text-decoration: none;
}

article h2{
    padding: 1rem 0;
    border-bottom: #000000 2px solid;
}
.buyHistoryHeader{
    grid-area: buyHistoryHeader;
    text-align: center;
}
.sellHistoryHeader{
    grid-area: sellHistoryHeader;
    text-align: center;
}
.buyHistory{
    grid-area: buyHistory;
    max-height: 40rem;
    overflow: hidden;
    overflow: scroll;
}
.sellHistory{
    grid-area: sellHistory;
    max-height: 40rem;
    overflow: hidden;
    overflow: scroll;
    vertical-align: top;
}


.eachTransaction{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
    transition: all .3s ease;

}

.eachTransaction:hover{
    background: #000000;
}


.hdbox{
    font-size: .7rem;
}

.right{
    display: grid;
    justify-content: end;
}

@media only screen and (max-width: 1250px) {
}

@media only screen and (max-width: 940px) {
}

@media only screen and (max-width: 780px) {
}

@media only screen and (max-width:  640px) {
    article{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'buyHistoryHeader'
            'buyHistory'
            'sellHistoryHeader'
            'sellHistory';
        padding: 1rem;
    }
}

@media only screen and (max-width:  350px) {
}